.box {
    /* position: relative; */
    background: #ffffff;
    width: 100%;
}
.dropzone-wrapper {
    border: 2px dashed #91b0b3;
    color: #92b0b3;
    position: relative;
    height: 190px;
}
.dropzone-desc {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 40%;
    top: 50px;
    font-size: 16px;
}
.dropzone,
.dropzone:focus {
    position: absolute;
    outline: none !important;
    width: 100%;
    height: 150px;
    cursor: pointer;
    opacity: 0;
}
.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
    background: #ecf0f5;
}
.preview-zone {
    text-align: center;
}
.preview-zone .box {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
}

.upload-preview {
    padding:5px;
    display:block;
    width: 90px;
    height: 90px;
}

.remove-image {
    position:absolute;
    left:70px;
    top:10px;
    color:red;
    cursor:pointer;
}

.preview {
    float: left;
    position: absolute;
    left: 33px;
}

.images {
    position: relative;
    display: none;
    cursor: pointer;
    z-index: 1;
}
